{% extends "layout.html" %}
{% block body %}
<h3>Rules:</h3>

<h2>
Dream Cricket Web Application.
</h2>

<h5>
Get ready for the best Cricket entertainment game that changes the way you follow Cricket! Play Dream Cricket with friends and challenge your friends to show off your selection and instinctive skills.
</h5>

<p>
Game Rules:<br>
	For every match, select your own team and you get points according to how your players score in the actual match. Scoring rules are as followes:<br>
	- For every match, select your own team and get points according to how your players score in actual match.<br>
	- 0.5 points would be awarded if one run is made by the player<br>
	- 0.5 additional points will be awarded when your player hits a four<br>
	- 1 additional point will be awarded when your player hits a six<br>
	- 10 points will be awarded for every wicket taken<br>
	- 5 points will be awarded for each maiden over bowled<br>
	- 5 points will be awarded for each catch taken<br>
	- You can select only 10 players from both the teams not more than 7 from a team.<br>
	- Power player can be chosen from your list of players, so you could gain double points.<br>
	- Once the match has started you will not be allowed to choose players.<br>
	- You can follow the Leader board during the match.<br><br>

	Leaderboard will be displayed for each match. You can make your selections and follow the scores in our website. The app is just pure fun and thrill. When you are watching a cricket match, open this app and follow your fantasy score for even more thrill.<br>
</p>



Technologies used:
<br>
python, flask framework, html, css, jinja2, javascript.

<br>
<br>
<br>
From 
Prudhvik, <br>MSIT, IIIT-H, 2017-19

<h4>Have Fun !!</h4>

{% endblock %}